<header>
    <a href="/">
        <p class="logo">Kikuyu Town</p>
    </a>
    <li>
        <a href="/articles">Articles</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </li>
</header>
