<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/animate.css">
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />
</head>
<body style="background-image: url(/public/pexels-fox-58267-212324.jpg); background-size:cover;">
    <!--header-->
    <%-include('partials/header.ejs')%>

    <!--main content-->
    <div class="content">
        <li class="articles">
            <a href="/droneview" class="droneview">
                <img src="/public/kikuyu town.jpg" alt="">
                <div class="dronedesc">
                    <h3>Drone View</h3>
                    <p>Aerial photography of the town</p>
                </div>
            </a>
            <a href="/wetland" class="droneview">
                <img src="/public/Wetland.bmp" alt="">
                <div class="dronedesc">
                    <h3>Wetland</h3>
                    <p>The town's wetlands</p>
                </div>
            </a>
            <a href="/oldtown" class="droneview">
                <img src="/public/kikuyu old.jpg" alt="">
                <div class="dronedesc">
                    <h3>Oldtown</h3>
                    <p>Kikuyu before bypass</p>
                </div>
            </a>
            <a href="/wetland" class="droneview">
                <img src="/public/wetland.jpg" alt="">
                <div class="dronedesc">
                    <h3>Wetland</h3>
                    <p>The town's wetlands</p>
                </div>
            </a>
            <!-- <a href="/oldtown" class="droneview">Oldtown</a> -->
        </li>
    </div>

    <!-- footer -->
    <%- include('partials/footer.ejs')%>
</body>
</html>