<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css" type="text/css">
    <link rel="stylesheet" href="/public/animate.css">
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />

</head>
<body>
    <div class="home">
        <!--header-->
        <%-include('partials/header.ejs')%>


        <!--main content-->
        <main>
            <div>
                <p class="intro">Welcome to Kikuyu Town</p>
            </div>
        </main>

        <!--footer-->
        <%- include('partials/footer.ejs')%>

    </div>
</body>
</html>