<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/animate.css">
</head>
<body>
    <!--header-->
    <%-include('partials/header.ejs')%>

    <!--main content-->
    <div class="page2">
        <div class="vids">
            <video class="vids" src="/public/ondiri view2.mp4" autoplay muted loop></video>
        </div>

        <p class="dronei">Wetland Warrior</p>
    </div>

    <!-- footer -->
    <%- include('partials/footer.ejs')%>

</body>
</html>